@charset "UTF-8";
@import url("https://use.typekit.net/sus6sgv.css");
/*
GERAL
*/
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: josefin-sans, sans-serif;
  font-style: normal;
  background-color: #f1f1f1; }

a {
  text-decoration: none; }

/*
INTRODUÇÃO
*/
#intro {
  background-image: url("images/introdarkred.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #intro .textintro {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white; }
  #intro h2 {
    font-size: 5em;
    text-transform: uppercase; }
  #intro .v {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #f1f1f1; }

/*
NAVEGAÇÃO
*/
nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #8B0000;
  padding: 20px 0px 20px 0px; }
  nav div {
    display: inline;
    width: 25%;
    text-align: center; }
    nav div a {
      text-transform: uppercase;
      font-weight: 700;
      color: #f1f1f1; }

/*
SESSOES
*/
section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  section .flex {
    width: 80%;
    margin-top: 100px;
    display: flex;
    flex-direction: row; }
  section p {
    font-size: 2.3em;
    color: #8B0000;
    padding-left: 30px; }

h3 {
  font-size: 3em;
  color: #8B0000; }

/*
ABOUT
*/
img {
  height: 20vw;
  width: 16vw;
  border: 10px solid #8B0000;
  border-radius: 100%; }

/*
SERVICES
*/
#serv_geral {
  display: flex;
  flex-direction: column; }

.serv {
  margin-top: 50px;
  display: flex;
  flex-direction: row; }
  .serv h4 {
    color: #8B0000;
    font-size: 3em;
    padding-left: 30px;
    text-align: center; }
  .serv h5 {
    font-size: 1.5em;
    padding-left: 30px;
    text-align: center; }
