$firstColor: #8B0000;
$secondColor: #f1f1f1;
$fontBody: josefin-sans, sans-serif;
@import url("https://use.typekit.net/sus6sgv.css");
/*
GERAL
*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
font-family: $fontBody;
font-style: normal;
background-color: $secondColor;
}
a {
  text-decoration: none;
}
/*
INTRODUÇÃO
*/
#intro {
  background-image: url("images/introdarkred.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .textintro {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:center;
  transform: translate(-50%, -50%);
  color: white;
  }
  h2 {
  font-size: 5em;
  text-transform: uppercase;
  }
  .v {
  width:100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  color: $secondColor;
  }
}
/*
NAVEGAÇÃO
*/
nav {
position: fixed;
width: 100%;
top: 0px;
z-index: 1;
display: flex;
flex-direction: row;
justify-content: center;
background-color: $firstColor;
padding: 20px 0px 20px 0px;
div {
display: inline;
  width: 25%;
  text-align: center;
  a {
  text-transform: uppercase;
  font-weight: 700;
  color: $secondColor;
  }
}
}
/*
SESSOES
*/
section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .flex {
  width: 80%;
  margin-top: 100px;
  display:flex;
  flex-direction: row;
  }
  p {
  font-size: 2.3em;
  color: $firstColor;
  padding-left: 30px;
  }
}
h3 {
  font-size: 3em;
  color: $firstColor;
}
/*
ABOUT
*/
img {
height: 20vw;
width: 16vw;
border: 10px solid $firstColor;
border-radius: 100%;
}
/*
SERVICES
*/
#serv_geral{
  display: flex;
  flex-direction: column;
}
.serv {
  margin-top: 50px;
  display:flex;
  flex-direction: row;
  h4 {
  color: $firstColor;
  font-size: 3em;
  padding-left: 30px;
  text-align:center;
  }
  h5 {
  font-size: 1.5em;
  padding-left: 30px;
  text-align:center;
  }
}
