@import url("https://use.typekit.net/sus6sgv.css");
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*
GERAL
*/
body {
font-family: josefin-sans, sans-serif;
font-style: normal;
}
a {
  text-decoration: none;
}
/*
INTRODUÇÃO
*/
#intro {
  background-image: url("file:///C:/Users/ARTE/Desktop/BENICIO/portfolio/images/introdarkred.svg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #textintro {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }
  h2 {
  font-size: 5em;
  text-transform: uppercase;
  }
}
/*
NAVEGAÇÃO
*/
nav {
position: fixed;
width: 100%;
top: 20px;
z-index: 1;
display: flex;
justify-content: center;
div {
display: inline;
  width: 25%;
  text-align: center;
  a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f1f1f1;
  text-shadow: 2px 2px 5px #000;
  }
}
}
