$firstColor: #8B0000;
$secondColor: #f1f1f1;
$fontBody: josefin-sans, sans-serif;
@import url("https://use.typekit.net/sus6sgv.css");
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*
GERAL
*/
body {
font-family: $fontBody;
font-style: normal;
background-color: $secondColor;
}
a {
  text-decoration: none;
}
/*
INTRODUÇÃO
*/
#intro {
  background-image: url("images/introdarkred.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #textintro {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align:center;
  transform: translate(-50%, -50%);
  color: white;
  }
  h2 {
  font-size: 5em;
  text-transform: uppercase;
  }
  .v {
  width:100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  color: $secondColor;
  }
}
/*
NAVEGAÇÃO
*/
nav {
position: fixed;
width: 100%;
top: 0px;
z-index: 1;
display: flex;
flex-direction: row;
justify-content: center;
background-color: $firstColor;
  padding: 20px 0px 20px 0px;
div {
display: inline;
  width: 25%;
  text-align: center;
  a {
  text-transform: uppercase;
  font-weight: 700;
  color: $secondColor;
  }
}
}
/*
ABOUT
*/
#about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  div.about {
  display: flex;
  width: 80%;
  }
  h3 {
  margin-top: 100px;
  font-size: 4em;
  color: $firstColor;
  }
  img {
  width: 20vw;
  border-radius: 100%;
  border: solid 10px $firstColor;
  margin-top: 100px;
  }
  p {
  margin-top: 100px;
  font-size: 2em;
  padding-left: 30px;
  }
}
/*
SERVIÇOS
*/
#services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  }
  /*
PROJETOS
*/
  #projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  div.projects {
  display: flex;
  width: 80%;
    margin-top: 100px;
  }
h3 {
  font-size: 4em;
  color: $firstColor;
  }
  slide {
  width: 60vw;
  height: 30vw;
  border: 10px solid $firstColor;
  border-radius: 30px;;
  margin-left: 100px;
  }
  }
  /*
INTRODUÇÃO
*/
  #contacts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
background-color: $firstColor;
div.contacts {
display: flex;
  width: 80%;
    margin-top: 100px;
  }
  h3 {
  font-size: 4em;
  color: $secondColor;
  }
  div.icons {
  width: 100%;
  text-align: center;
  img {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  margin-left: 20px;
  }
  }
  }
  div.footer {
  width: 100%;
  text-align:center;
  color: $secondColor;
  }

@media screen and (max-width: 1500px) {
  body {
    background-color: lightgreen;
  }
}